/*******Start Default Theme**********/
/*Active Link*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.tool-box .gear-check,
.double-bounce1, .double-bounce2,
#scroll-top{
background-color: #5fb637;
}

.navbar-inverse .navbar-brand span,
.welcome h1 span,
.testi span,
.footer h3,
.copyright span{
 color:#5fb637;
}
.testi .carousel-indicators li,
.footer .social-list img,
.tool-box .color-option{
 border: 3px solid #5fb637;
}
.dropdown-menu {
 border-top:3px solid #5fb637; 
}


